# Prerequisites
*.d

# old labs 
**/Lab01
**/Lab02
**/Lab03
**/Lab04
**/Lab05
**/Lab06

# tex extensions
*.gz
*.aux
*.log
*.bak

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
*.DS_Store
*.vscode/
**/build
